<div class="container">
    <h1 class="mt-5">Gestion de stock </h1>
   
    <a href="#" routerLink="/commande/create" class="btn btn-primary mb-3">Create New Commande</a>
     
    <table class="table table-bordered">
		<thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Client</th>
        <th width="220px">Action</th>
      </tr>
	</thead>
	<tbody  class="table-light m-1 "> 
      <tr *ngFor="let commande of commandes" >
        <td>{{ commande.id }}</td>
        <td>{{ commande.dateCmd }}</td>
        <td>{{ commande.clientId }}</td>
        <td>
          <!-- <a href="#" [routerLink]="['/commande/', commande.id, 'view']" class="btn btn-info">View</a> -->
          <a  [routerLink]="['/commande/', commande.id, 'edit'] " class="btn btn-success mx-1">Edit</a>
          <button type="button" (click)="deleteCommande(commande.id)" class="btn btn-danger mx-1">Delete</button>
        </td>
      </tr>
	</tbody>
    </table>
 </div>
