<div class="container">
    <h1>View Product</h1>
   
    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ product.id }}</p>
    </div>
    
    <div>
        <strong>Nom:</strong>
        <p>{{ product.nom }}</p>
    </div>
    <div>
        <strong>Prenom:</strong>
        <p>{{ product.prenom }}</p>
    </div>
    <div>
        <strong>Ville:</strong>
        <p>{{ product.ville }}</p>
    </div>
    <div>
        <strong>Adresse:</strong>
        <p>{{ product.adresse }}</p>
    </div>
    
    
    
</div>